<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nothing to see here</title>
        <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <section>
            <div class="container">
                <h1 class="title">Rain Bot</h1>
                <h2 class="subtitle">because sometimes it rains</h2>
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Today</p>
                            <p class="title">{{counts.today}}</p>
                            <p class="heading">Raindrops</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">This week</p>
                            <p class="title">{{counts.this_week}}</p>
                            <p class="heading">Raindrops</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">This month</p>
                            <p class="title">{{counts.this_month}}</p>
                            <p class="heading">Raindrops</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">This year</p>
                            <p class="title">{{counts.this_year}}</p>
                            <p class="heading">Raindrops</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">All time</p>
                            <p class="title">{{counts.all_time}}</p>
                            <p class="heading">Raindrops</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
