<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nothing to see here</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        RainBot
      </h1>
      <h2 class="subtitle">
          Ooh, what's this?
      </h2>
      <a class="button is-black" href="data?rainbot=1">
        Show me the data!
      </a>
    </div>
  </div>
</section>
	</body>
</html>
